{% load static %}
<!DOCTYPE html>
<html>
 <title>Parang Google Classrooom</title>
<style>


</style>
</head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
   <script type="text/javascript" src="{% static 'js/javascript.js' %}"></script>
    
   <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="#">Parang<span>.Classroom</span></a></div>
            <ul class="menu">
                <li><a href="{% url 'home' %}" class="menu-btn">Home</a></li>
                <li><a href="{% url 'articles:create' %}" class="highlight">About</a></li>
                <li><a href="{% url 'attendance_page' %}" class="highlight">Attendance</a></li>
                <li><a href="{% url 'student_page' %}" class="highlight">Student</a></li>
                <li><a href="{% url 'quiz_page' %}" class="highlight">Quiz</a></li>
                <li><a href="{% url 'accounts:login' %}">Login</a></li>
            </ul>
            
    </nav>

<br><br><br><br>

    <body>
           


        <header class="wrapper">
        
            
                    {% if user.is_authenticated %}
          
                        <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
       
                    {% else %}
                    {% endif %}
    
        </header>
        <div class="wrapper">
            {% block content %}
            {% endblock %}
        </div>
    <footer>
        <span>Created By <a href="#">Jenjie Pogi123</a>
    </footer>
    </body>
<script>
var start = document.getElementById('start');
var reset = document.getElementById('reset');

var h = document.getElementById("hour");
var m = document.getElementById("minute");
var s = document.getElementById("sec");

//store a reference to the startTimer variable
var startTimer = null;

start.addEventListener('click', function(){
    //initialize the variable
    function startInterval(){
        startTimer = setInterval(function() {
            timer();
        }, 1000);
    }
    startInterval();
})

reset.addEventListener('click', function(){
    h.value = 0;
    m.value = 0;
    s.value = 0;
    //stop the timer after pressing "reset"
    stopInterval()
})

function timer(){
    if(h.value == 0 && m.value == 0 && s.value == 0){
        h.value = 0;
        m.value = 0;
        s.value = 0;
    } else if(s.value != 0){
        s.value--;
    } else if(m.value != 0 && s.value == 0){
        s.value = 59;
        m.value--;
    } else if(h.value != 0 && m.value == 0){
        m.value = 60;
        h.value--;
    }
    return;
}

//stop the function after pressing the reset button, 
//so the time wont go down when selecting a new time after pressing reset
function stopInterval(){
    clearInterval(startTimer);
}


$(document).ready(function(){
    $(window).scroll(function(){
        // sticky navbar on scroll script
        if(this.scrollY > 20){
            $('.navbar').addClass("sticky");
        }else{
            $('.navbar').removeClass("sticky");
        }
        
        // scroll-up button show/hide script
        if(this.scrollY > 500){
            $('.scroll-up-btn').addClass("show");
        }else{
            $('.scroll-up-btn').removeClass("show");
        }
    });

    // slide-up script
    $('.scroll-up-btn').click(function(){
        $('html').animate({scrollTop: 0});
        // removing smooth scroll on slide-up button click
        $('html').css("scrollBehavior", "auto");
    });

    $('.navbar .menu li a').click(function(){
        // applying again smooth scroll on menu items click
        $('html').css("scrollBehavior", "smooth");
    });

    // toggle menu/navbar script
    $('.menu-btn').click(function(){
        $('.navbar .menu').toggleClass("active");
        $('.menu-btn i').toggleClass("active");
    });

    // typing text animation script
    var typed = new Typed(".typing", {
        strings: ["Students", "Educator", "Teacher",],
        typeSpeed: 100,
        backSpeed: 60,
        loop: true
    });

    var typed = new Typed(".typing-2", {
        strings: ["Students", "Educator", "Teacher"],
        typeSpeed: 100,
        backSpeed: 60,
        loop: true
    });

    // owl carousel script
    $('.carousel').owlCarousel({
        margin: 20,
        loop: true,
        autoplayTimeOut: 2000,
        autoplayHoverPause: true,
        responsive: {
            0:{
                items: 1,
                nav: false
            },
            600:{
                items: 2,
                nav: false
            },
            1000:{
                items: 3,
                nav: false
            }
        }
    });
});

</script> 
</html>
