{% extends 'base_layout.html' %}

{% block content %}



<div class="create-task">
        <h2>Create a Task</h2>
        <form class="site-form" action="" method="post" enctype="multipart/form-data">
    <!-- home section start -->
    <section class="services" id="services">
        <div class="max-width">
            <h2 class="title">
My Subject</h2>
<div class="serv-content">
	<div class="card">
		<div class="box">
			<i class="fa fa-language"></i><div class="text"><a href="{% url 'student_page' %}">Attendance</a></div>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quia sunt, quasi quo illo enim.</p>
</div>
</div>
<div class="card">
                    <div class="box">
                        <i class="fas fa-calculator"></i>
                        <div class="text">
Math</div>
<p>
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quia sunt, quasi quo illo enim.</p>
</div>
</div>
<div class="card">
                    <div class="box">
                        <i class="fas fa-paint-brush"></i>
                        <div class="text">
Arts</div>
<p>
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quia sunt, quasi quo illo enim.</p>
</div>
</div>
</div>
</div>
</div>
</section>
    <section class="home" id="home">
        <div class="max-width">
            <div class="home-content">
              <center><div class="text-2">Things To-Do</div> <br></center>
<a href="{% url 'student_page' %}">&nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;  asfasfafasfsafas&nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;  </a><br><br><br>
<a href="{% url 'attendance_page' %}">Attendance</a>&nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;  <a href="{% url 'articles:create' %}">Task</a><br><br>
</a><br>
<a href="{% url 'articles:quiz_list' %}">Quiz</a>
            </div>

        
</div>

        </form>
    </div>

</section>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
   
{% endblock %}
        

